input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(0, 0, 0); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: rgba(50, 71, 37, 0.438);
}
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgba(50, 71, 37, 0.438);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: black;
    color: wheat;
}
#ime, #prezime, #naslov{
    font-family: 'Courier New', Courier, monospace;
}
#subject{
    height: 200px;
}
#kontakt{
    height: 40px;
}
  
  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #b99a5e;
    padding: 20px;
    margin-top: 20px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/home3.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.slika{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-radius: 8px;
}
.heder{
    text-align: right;
    font-weight: bold;
    margin-top: 30px;
}
.heder a{
    text-decoration: none;
    color: rgb(126, 81, 23);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    margin-right: 35px;
}